{% extends 'template.html' %} {% block content %}
<p align="center">

    <div class="container" id="starttest">
        <div class="jumbotron">
            <h1 class="entry-title">Create Your Resume</h1>
            <hr />
            <br>
            <br>
            <div class="row">
                <div align="center" class="col-md-4">
                    <a href="/Resume/resume1">
                        <img src="https://ssl.gstatic.com/docs/templates/thumbnails/1sU-PkDNWXs52qVV_ujI2lk-S370udkGd5E5SNqZh2Wg_400_3.png" alt="Resume Format 1" width="200" style="border: 1px solid lightgreen; border-radius:5px" height="250">
                        <br>
                        <p align="center"> Resume 1</p>
                </div>
                <div align="center" class="col-md-4">
                    <a href="/Resume/resume2">
                        <img src="https://ssl.gstatic.com/docs/templates/thumbnails/1N22MokKKV3QXA3nlU_porvLxm06GbLFVfFP6TCNAogY_400_2.png" alt="Resume Format 2" width="200" style="border: 1px solid lightgreen; border-radius:5px" height="250">
                        <br>
                        <p align="center"> Resume 2</p>
                </div>
                <div align="center" class="col-md-4">
                    <a href="/Resume/resume3">
                        <img src="https://ssl.gstatic.com/docs/templates/thumbnails/1Kt_YsonekD4k0eXrVqdcDEOkv08MQXBa_wlEHGV02Xs_400_3.png" alt="Resume Format 3" width="200" style="border: 1px solid lightgreen; border-radius:5px" height="250">
                        <br>
                        <p align="center"> Resume 3</p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div align="center" class="col-md-1">
                </div>
                <div align="center" class="col-md-4">
                    <a href="/Resume/resume4">
                        <img src="https://ssl.gstatic.com/docs/templates/thumbnails/19pZ5GalLXUWLCsp-Cq-3ZuRSrLn2QBVfVULkgz3tmWw_400_2.png" alt="Resume Format 4" width="200" style="border: 1px solid lightgreen; border-radius:5px" height="250">
                        <br>
                        <p align="center"> Resume 4</p>
                </div>
                <div align="center" class="col-md-1">
                </div>
                <div align="center" class="col-md-4">
                    <a href="/Resume/resume5">
                        <img src="https://ssl.gstatic.com/docs/templates/thumbnails/1ETLRcC9GWUlGnH8WzySFixtEXN26hI7iEmj2mcH3Kb4_400.png" alt="Resume Format 5" width="200" style="border: 1px solid lightgreen; border-radius:5px" height="250">
                        <br>
                        <p align="center"> Resume 5</p>
                </div>
                <div align="center" class="col-md-1">
                </div>
            </div>
        </div>
    </div>

</p>
{% endblock %}